/** fonts **/

@font-face {
    font-family: 'Chosun';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_one@1.0/Chosunilbo_myungjo.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@import url('https://fonts.googleapis.com/css2?family=Noto+Serif+SC:wght@700&display=swap');

@font-face { /*바탕체*/
  font-family: 'Batang';
  font-style: normal;
  src: url('//cdn.jsdelivr.net/korean-webfonts/1/orgs/othrs/kpa/BareunBatang/BareunBatangOTFM.woff2') format('woff2'), url('//cdn.jsdelivr.net/korean-webfonts/1/orgs/othrs/kpa/BareunBatang/BareunBatangOTFM.woff') format('woff');
}

@font-face { /*Freight Big Pro Bold*/
  font-family: "Freight";
  src: url("../fonts/FreightBigProBold-Regular.ttf") format("truetype"),
       url("../fonts/FreightBigProBold-Regular.woff") format("woff"), 
       url("../fonts/FreightBigProBold-Regular.woff2") format("woff2");
  font-weight: bold;
} 

@font-face {
    font-family: 'Ghana';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_20-04@1.0/ghanachoco.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
/** end of fonts **/

		.image {
		position: relative;
		top: 0;
		width: 100%;
		height: 350px;
		object-fit: cover;
		object-position: 50% 60%;
		filter: grayscale(85%);
}


		.upper {
		color: crimson;
		line-height: 250%;
		word-spacing: -37px;
		font-family: Freight;
		font-size: 80px;
		font-weight: bold;
		writing-mode: vertical-rl;
}


		.lower {
		color: crimson;
		line-height: 150%;
		word-spacing: -37px;
		top: 0;
		margin-top: -450px;
		font-family: Freight;
		font-size: 80px;
		font-weight: bold;
		writing-mode: vertical-rl;
}

		.upper:hover {color: black;}

		.lower:hover {color: black;}


		aside {
			float: left;
			position: fixed;
			top: 2%;
			padding-left: 0px;
			margin-left: -15px;
			z-index: 2;
}


		.head {
		top: 0;
		float: left;
		color: black;
		font-family: Ghana;
		font-size: 30px;
		padding-left: 20px;
		padding-right: 0;
		margin-right: 0;
}
	

		.text {
		position: relative;
		top: 0;
		float: left;
		color: black;
		font-family: Batang, ‘Noto Serif SC’;
		font-size: 17px;
		margin-left: 120px;
		padding-right: 10%;
		z-index: 1;
}


		.rightpointer {
		float: right;
		color: black;
		font-family: Ghana;
		font-size: 17px;
}


		.leftpointer {
		float: left;
		color: black;
		font-family: Ghana;
		font-size: 17px;
		padding-left: 0px;
}


		.rightpointer:hover {
		color: crimson;
}


		.leftpointer:hover {
		color: crimson;
}

		a:hover {text-decoration: none;}
		a {text-decoration: none; color: black;}
