/** fonts **/
@font-face { /*조선일보명조체*/
  font-family: "Chosun";
  src: url("https://belledcurve.github.io/fonts/ChosunNM.ttf") format("truetype");
  font-weight: normal;
} 

@font-face { /*Jetbrains Mono*/
  font-family: "Jetbrains";
  src: url("https://belledcurve.github.io/fonts/JetBrainsMono-Regular.ttf") format("truetype");
  font-weight: normal;
} 

@font-face { /*Freight Big Pro Bold*/
  font-family: "Freight";
  src: url("https://belledcurve.github.io/fonts/FreightBigProBold-Regular.ttf") format("truetype");
  font-weight: normal;
} 

@font-face { /*가나 초콜릿체*/
  font-family: "Ghana";
  src: url("https://belledcurve.github.io/fonts/Ghanachocolate.ttf") format("truetype");
  font-weight: normal;
} 
/** end of fonts **/

		.image {
		position: relative;
		top: 0;
		width: 100%;
		height: 350px;
		margin: -7px;
		object-fit: cover;
		object-position: 50% 60%;
		filter: grayscale(85%);
		}


		aside {
		float: left;
		position: sticky;
		position: -webkit-sticky;
		top: 0;	/** this is what makes the function work. I still don't know why **/
		padding-top: 5%;
		padding-left: 5%;
		}


		.head {
		top: 0;
		float: left;
		color: black;
		font-family: Ghana;
		font-size: 35px;
		padding-left: 20px;
		padding-right: 15%;
}
	

		.text {
		position: static;
		top: 0;
		float: left;
		color: black;
		font-family: Chosun;
		font-size: 15px;
		padding-left: 170px;
		padding-right: 20%;
}

