/** fonts **/
@font-face { /*조선일보명조체*/
  font-family: "Chosun";
  src: url("https://belledcurve.github.io/fonts/ChosunNm.ttf") format("truetype");
  font-weight: normal;
} 

@font-face { /*Jetbrains Mono*/
  font-family: "Jetbrains";
  src: url("https://belledcurve.github.io/fonts/JetBrainsMono-Regular.ttf") format("truetype");
  font-weight: normal;
} 

@font-face { /*Freight Big Pro Bold*/
  font-family: "Freight";
  src: url("../fonts/FreightBigProBold-Regular.ttf") format("truetype"),
       url("../fonts/FreightBigProBold-Regular.woff") format("woff"), 
       url("../fonts/FreightBigProBold-Regular.woff2") format("woff2");
  font-weight: normal;
} 

@font-face {
    font-family: 'Ghana';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_20-04@1.0/ghanachoco.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}


/** end of fonts **/


		.upper {
		line-height: 250%;
		word-spacing: -37px;
		font-family: Freight;
		font-size: 150px;
		writing-mode: vertical-rl;
}


		.lower {
		line-height: 150%;
		word-spacing: -37px;
		margin-top: -100%;
		padding-top: -100%;
		font-family: Freight;
		font-size: 150px;
		writing-mode: vertical-rl;
}

		.upper1 {
		position: fixed;
		top: 33%; left:  20%;
		line-height: 0%;
		font-family: Freight;
		font-size: 70px;
		float: right;
		color: black;
}


		.lower1 {
		position: fixed;
		top: 35%; left:  20%;
		line-height: 30%;
		font-family: Freight;
		font-size: 70px;
		float: right;
		color: black;
}

		.upper1:hover {
		color: crimson;
}

		.lower1:hover {
		color: crimson;
}

		.text {
		position: fixed;
		left: 20%;
		float: right;
		color: black;
		font-family: Freight, Ghana;
		font-size: 30px;
		padding-top: 20%;
}

		.article {
		font-family: Ghana;
		color: black;
		text-align: right;
		position: relative;
		float: right;
		width: 90%;
		height: 3.7em;
		line-height: 3.7em;	/** equal to height attribute **/
		background-color: white;
		z-index: 1001;
}

		a {
			text-decoration: none;
			color: black;
			padding-right: 25%;
}

		a:hover {color: crimson;}

		html {
		scroll-behavior: smooth;
}
